       body{
        
        height: 100vh;
    }

    :root{
        --bg-color: FFF;;
        --title-color: #32312d;
        --paragrafo-color: #727171db;
        --text-color: #008248;
        --copy-text-color: #6c6a6ae2;
        --button-color: #09633a;
        --container-children: #d4e9e2;
        --span-color:#008248;
    }

    *{
       
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .navbar{
        padding: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 100%;
        box-shadow: 1px 2px 3px #0000;
    }

    .navbar-left img{
        width: 50px;
        margin-right: 20px;

    }

    .hamburger{
        display: none;
    }

    .navbar-menu{
        display: flex;
    }

    .navbar-menu li{
        list-style: none;
        margin: 10px;
    }

    .navbar-menu li a{
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 800;
        color: var(--title-color)
    }

    .navbar-menu li a :houver{
        color: var(--button-color)
    }

    .navbar-left, .navbar-righ{
        display:flex ;
        align-items: center;
    }

    .navbar-left > *,
    .navbar-righ>*{
        margin: 8px;
    }

 
   .logo-heer{
    width: 100%;
    height: 250px;
    
    margin: auto;
    display: block;
    justify-content: space-evenly;
    
  
   }

  
   .logo-ite{
    width: 40%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
    
   }

    .container-iten{
    width: 100%;
    height: 300px;
    display: flex;
    margin: 50px auto;
    justify-content: space-evenly;
    
   }

   .elemento{
    width: 100px;
    height: 30%;
    border: 5px solid #32312d;
    border-radius: 60px;
    
   }